:root {  --color-primary: #8093f1;
  --color-primary: #8093f1;
  --color-primary-contrast: #ffffff;
  --color-primary-700: #535bf2; /* hover / focus */
  --color-accent: #f7aef8;
  --color-secondary: #fdc5f5;
  --color-neutral: #b388eb;
  --color-bg: #ffffff;
  --color-text: #213547;
  --color-muted: #888888;
}
