@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --primary-700: #219EBC;
  --bg: #023047;
  --hover: #FB8500;
  --active: #FFB703;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans";
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--bg);
}
.keys {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .8rem;
  padding: 2rem;
  border-radius: .5rem;
  background: var(--primary-700);
}
.key {
  background: var(--bg);
  color: var(--primary-700);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  border: none;
  border-radius: .5rem;
  transition: all 0.3s ease;
}
.key:hover {
  box-shadow: .1rem 0 2rem var(--hover);
  cursor: pointer;
}
.key.playing {
  transform: scale(.99);
  box-shadow: 0 0 10px var(--active);
}
.sound{
  font-size: .9rem;
  margin: 0.5rem;
}
@media (max-width: 33rem) {
  .keys {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .key {
    font-size: 2rem;
  }
}